

body {
  margin: 0;
  background:  #222831;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.d-flex{
  display: flex;
  flex-wrap: wrap;
}

.justify-between{
  justify-content: space-between;
}

.text-center{
  text-align: center;
}

.inline{
  display: inline-block;
}
